<div fxLayout="column" style="padding: 5px;">

  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between">
    <div fxFlex="70" fxFlex.sm="100" style="padding: 5px; ">
      <md-card fxLayout="column" style="height: 100%; border-left: 2px solid #189DE1">
        <md-card-content>

          <!-- Title -->
          <div fxFlex style="margin:15px 5px">
            <md-input-container style="width: 100%">
              <input mdInput class="form-control" required [(ngModel)]="componentVersion.title"
                     placeholder="Title"
                     name="Title"
                     type="text">
            </md-input-container>
          </div>

          <div fxLayout="row" fxLayoutWrap>

            <!-- Component Type-->
            <div fxFlex fxFlex.xs="100" style="margin:15px 5px">
              <md-select name="items" [(ngModel)]="componentType" placeholder="Type" style="width: 80%">
                <md-option ngValue="Business">Business</md-option>
                <md-option ngValue="Functional">Functional</md-option>
                <md-option ngValue="Design">Design</md-option>
                <md-option ngValue="Performance">Performance</md-option>
                <md-option ngValue="Other">Other</md-option>
              </md-select>
            </div>

            <!-- Distribution Level -->
            <div fxFlex fxFlex.xs="100" style="margin:15px 5px">
              <md-select name="distributionLevel" [(ngModel)]="distributionLevel" placeholder="Distribution Level" style="width: 80%">
                <md-option ngValue="Public">Public</md-option>
                <md-option ngValue="Internal">Internal</md-option>
                <md-option ngValue="Restricted">Restricted</md-option>
                <md-option ngValue="Secret">Secret</md-option>
              </md-select>
            </div>
          </div>

          <!-- Tags -->
          <div fxLayout="row">
            <div fxFlex>
              <p>
                <md-input-container>
                  <input mdInput [ngModelOptions]="{standalone: true}" [(ngModel)]="tagToAdd" placeholder="Tags"
                         (keypress)="addNewTag($event)">
                </md-input-container>
              </p>
              <div class="badge badge-default" style="display: inline-block;margin-right: 5px"
                   *ngFor="let tag of componentVersion.tags">{{tag}}&nbsp;</div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>


    <div fxFlex="30" fxFlex.sm="100" fxLayout="column" style="padding: 5px; ">
      <md-card style="margin-bottom: 10px; border-left: 2px solid #ec4363">
        <md-card-content fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between">
          <div fxFlex>
            <md-checkbox [(ngModel)]="componentVersion.requiredTest">Require Test</md-checkbox>
          </div>
          <div fxFlex>
            <md-checkbox [(ngModel)]="readOnly" (change)="readOnly = $event">Read only</md-checkbox>
          </div>
        </md-card-content>
      </md-card>

      <!--<md-card style="margin-bottom: 10px; border-left: 2px solid #028090">-->
      <!--<md-card-content fxFlex>-->

      <!--<md-input-container>-->
      <!--<input type="text" mdInput placeholder="Assigned to"-->
      <!--[formControl]="assignedUserCtrl"-->
      <!--[mdAutocomplete]="assignedUserAutoComplete">-->
      <!--</md-input-container>-->

      <!--<md-autocomplete #assignedUserAutoComplete="mdAutocomplete"-->
      <!--activeOption>-->
      <!--<md-option *ngFor="let user of filteredUsers | async" [value]="user">{{user.fullName}}</md-option>-->
      <!--</md-autocomplete>-->
      <!--</md-card-content>-->
      <!--</md-card>-->

      <md-card style="height: 100%; border-left: 2px solid #636262" *ngIf="!create">
        <md-card-content fxFlex>
          <md-card-title style="margin-bottom:5px; font-size: 15px">Created</md-card-title>
          <md-card-subtitle>{{componentVersion.creationDate | amTimeAgo }} by
            <a role="button"><span style="font-weight: bold">{{componentVersion.createdUser.fullName}}</span></a>
          </md-card-subtitle>

          <md-card-title style="margin-bottom:5px; font-size: 15px">Updated</md-card-title>
          <md-card-subtitle>{{componentVersion.lastModifiedDate | amTimeAgo }} by
            <a role="button"><span style="font-weight: bold">{{componentVersion.lastModifiedUser.fullName}}</span></a>
          </md-card-subtitle>
        </md-card-content>
      </md-card>
    </div>
  </div>

  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between">
    <!-- Risk Assessment-->
    <div fxFlex="70" fxFlex.sm="100" style="padding: 5px; ">
      <md-card fxFlex style="height: 100%;">
        <md-card-title style="font-size: 15px; margin-bottom: 5px">Risk Assessment</md-card-title>
        <md-card-content>

        </md-card-content>
      </md-card>

    </div>
    <!-- Estimated Time-->
    <div fxFlex="30" fxFlex.sm="100" style="padding: 5px; ">
      <md-card fxLayout="column">
        <md-card-title style="font-size: 15px; margin-bottom: 5px">Estimated time</md-card-title>
        <md-card-subtitle>Per user category</md-card-subtitle>

        <md-card-content>
          <div fxLayout="row" style="margin-bottom: 10px" fxLayoutAlign="space-between center"
               *ngFor="let estimatedTime of componentVersion.estimatedTimes; let i = index" [attr.data-index]="i">
            <div fxFlex="80">
              <md-input-container>
                <input mdInput
                       placeholder="{{estimatedTime.userCategory.name}}" name="time" type="number"
                       [(ngModel)]="componentVersion.estimatedTimes[i].time">
              </md-input-container>
            </div>
            <div fxFlex>
              <md-select name="unit" [(ngModel)]="componentVersion.estimatedTimes[i].timeUnit" placeholder="Unit">
                <md-option value="HOURS">Hours</md-option>
                <md-option value="DAYS">Days</md-option>
              </md-select>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" style="height: 50px">
    <button md-raised-button color="primary" (click)="save()"><i class="fa fa-check" aria-hidden="true"></i> Save
    </button>
  </div>

</div>
