<div fxLayout="column" style="padding: 5px;">

  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between">
    <div fxFlex="7 0 300px" style="padding: 5px;">
      <md-card style="height: 100%; border-left: 2px solid #636262">
        <md-card-content>

          <!-- Title -->
          <div style="margin:15px 5px">
            <md-input-container style="width: 100%">
              <input mdInput class="form-control" required [(ngModel)]="componentVersion.title"
                     placeholder="Title"
                     name="Title"
                     type="text">
            </md-input-container>
          </div>

          <div fxLayout="row" fxLayoutWrap>

            <!-- Component Type-->
            <div fxFlex fxFlex.xs="100" style="margin:15px 5px">
              <md-select name="items" [(ngModel)]="componentVersion.requirementType" placeholder="Type"
                         style="width: 80%">
                <md-option value="BUSINESS">Business</md-option>
                <md-option value="FUNCTIONAL">Functional</md-option>
                <md-option value="DESIGN">Design</md-option>
                <md-option value="PERFORMANCE">Performance</md-option>
                <md-option value="OTHER">Other</md-option>
              </md-select>
            </div>

            <!-- Distribution Level -->
            <div fxFlex fxFlex.xs="100" style="margin:15px 5px">
              <md-select name="distributionLevel" [(ngModel)]="componentVersion.distributionLevel"
                         placeholder="Distribution Level" style="width: 80%">
                <md-option value="PUBLIC">Public</md-option>
                <md-option value="INTERNAL">Internal</md-option>
                <md-option value="RESTRICTED">Restricted</md-option>
                <md-option value="SECRET">Secret</md-option>
              </md-select>
            </div>
          </div>


          <!-- Tags -->
          <div fxLayout="row" style="margin:15px 5px">
            <div fxFlex>
              <p>
                <md-input-container>
                  <input mdInput [ngModelOptions]="{standalone: true}" [(ngModel)]="tagToAdd" placeholder="Tags"
                         (keypress)="addNewTag($event)">
                </md-input-container>
              </p>
              <div class="badge badge-default" style="display: inline-block;margin-right: 5px"
                   *ngFor="let tag of componentVersion.tags">{{tag}}&nbsp;
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>


    <div fxFlex="3 0 150px" fxLayout="column" style="padding: 5px; ">
      <md-card style="margin-bottom: 10px; border-left: 2px solid #ec4363">
        <md-card-content fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between">
          <div fxFlex>
            <md-checkbox [(ngModel)]="componentVersion.requiredTest">Require Test</md-checkbox>
          </div>
          <div fxFlex>
            <md-checkbox [(ngModel)]="componentVersion.readOnly" (change)="readOnly = $event">Read only</md-checkbox>
          </div>
        </md-card-content>
      </md-card>

      <md-card style="height: 100%; border-left: 2px solid #636262">
        <md-card-content fxFlex>
          <md-card-title style="margin-bottom:5px; font-size: 15px">Created</md-card-title>
          <md-card-subtitle>{{componentVersion.creationDate | amTimeAgo }} by
            <a role="button"><span style="font-weight: bold">{{componentVersion.createdUser.fullName}}</span></a>
          </md-card-subtitle>

          <md-card-title style="margin-bottom:5px; font-size: 15px">Updated</md-card-title>
          <md-card-subtitle>{{componentVersion.lastModifiedDate | amTimeAgo }} by
            <a role="button"><span style="font-weight: bold">{{componentVersion.lastModifiedUser.fullName}}</span></a>
          </md-card-subtitle>

          <!-- Assignee -->
          <md-card-title style="margin-bottom:5px; font-size: 15px">Assignee
              <button *ngIf="!componentVersion.assignedTo && !editAssignee" (click)="editAssignee=true"><i class="fa fa-address-book-o" aria-hidden="true"></i></button>
          </md-card-title>
          <md-card-subtitle>
            <div *ngIf="componentVersion.assignedTo && !editAssignee">
              {{componentVersion.lastModifiedDate | amTimeAgo }} to <a role="button" (click)="editAssignee=true"><span style="font-weight: bold">{{componentVersion.assignedTo.fullName}}</span></a>
            </div>

            <md-select [(ngModel)]="componentVersion.assignedTo" *ngIf="editAssignee" (onClose)="editAssignee=false"
                       fxFlex="70"
                       name="assigned">
              <md-option *ngFor="let user of users | async" [value]="user">{{user.username}}</md-option>
            </md-select>

          </md-card-subtitle>


        </md-card-content>
      </md-card>
    </div>
  </div>

  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between stretch">
    <!-- Risk Assessment-->
    <div fxFlex="7 0 300px" fxFlex.sm="100" style="padding: 5px; ">
      <md-card fxFlex style="height: 100%;">
        <md-card-title style="font-size: 15px; margin-bottom: 5px">Risk Assessment</md-card-title>
        <md-card-subtitle>Failure impacts</md-card-subtitle>

        <md-card-content>
          <!-- Risk description-->
          <md-input-container style="width: 100%;">
              <textarea mdInput
                        [maxlength]="textAreaMaxLength"
                        placeholder="Risk description ({{textAreaMaxLength}} max)"
                        type="text"
                        [(ngModel)]="componentVersion.riskAssessment.riskDescription"
                        #riskDescription></textarea>
            <md-hint align="end">{{riskDescription.value.length}} / {{textAreaMaxLength}}</md-hint>
          </md-input-container>
          <div fxLayout="row">
            <!-- Frequency of use-->
            <div fxFlex fxFlex.xs="100" style="margin-top: 30px">
              <md-select name="frequencyOfUse"
                         placeholder="Frequency of Use"
                         style="width: 90%"
                         [(ngModel)]="componentVersion.riskAssessment.frequencyOfUse">
                <md-option value="RARELY">Rarely</md-option>
                <md-option value="NORMAL">Normal</md-option>
                <md-option value="VERY_OFTEN">Very Often</md-option>
              </md-select>
            </div>

            <!-- Failure Probability-->
            <div fxFlex fxFlex.xs="100" style="margin-top: 30px">
              <md-select name="failureProbality"
                         placeholder="Failure Probability"
                         style="width: 90%"
                         [(ngModel)]="componentVersion.riskAssessment.failureProbability">
                <md-option value="LOW">Low</md-option>
                <md-option value="MEDIUM">Medium</md-option>
                <md-option value="HIGH">High</md-option>
                <md-option value="VERY_HIGH">Very High</md-option>
              </md-select>
            </div>
          </div>

          <div fxLayout="row">
            <!-- Failure Impact Level -->
            <div fxFlex fxFlex.xs="100" style="margin-top: 30px">
              <md-select name="failureImpactLevel"
                         placeholder="Failure Impact Level"
                         style="width: 90%"
                         [(ngModel)]="componentVersion.riskAssessment.failureImpactLevel">
                <md-option value="LOW">Low</md-option>
                <md-option value="MEDIUM">Medium</md-option>
                <md-option value="HIGH">High</md-option>
                <md-option value="VERY_HIGH">Very High</md-option>
              </md-select>
            </div>
            <!-- Failure Impact Type -->
            <div fxFlex fxFlex.xs="100" style="margin-top: 30px">
              <md-select name="failureImpactType"
                         placeholder="Failure Impact Type"
                         style="width: 90%"
                         [(ngModel)]="componentVersion.riskAssessment.failureImpactType">
                <md-option value="COST">Cost</md-option>
                <md-option value="SCHEDULE">Schedule</md-option>
                <md-option value="PERFORMANCE">Performance</md-option>
                <md-option value="ENVIRONMENT">Environment</md-option>
                <md-option value="HUMAN_HEALTH">Human Health</md-option>
              </md-select>
            </div>

          </div>

          <!-- Failure Procedure -->
          <md-input-container style="width: 100%; margin-top: 20px">
              <textarea mdInput
                        [maxlength]="textAreaMaxLength"
                        placeholder="Failure Procedure ({{textAreaMaxLength}} max)"
                        type="text"
                        [(ngModel)]="componentVersion.riskAssessment.failureProcedure"
                        #failureProcedure></textarea>
            <md-hint align="end">{{failureProcedure.value.length}} / {{textAreaMaxLength}}</md-hint>
          </md-input-container>

          <div fxLayout="row" style="margin:15px 5px; font-size: 13px; color: grey">
            <md-checkbox>Make it default{{componentVersion.projectId? ' through this project':''}}</md-checkbox>
          </div>

        </md-card-content>
      </md-card>

    </div>

    <!-- Estimated Time-->
    <div fxFlex="3 0 150px" fxFlex.sm="100" style="padding: 5px; ">
      <md-card fxLayout="column" style="height: 100%;">
        <div fxLayout="row">
          <div fxFlex>
            <md-card-title style="font-size: 15px; margin-bottom: 5px">Estimated time</md-card-title>
            <md-card-subtitle>Per user category</md-card-subtitle>
          </div>
          <div fxLayoutAlign="end start">
            <button
              md-icon-button
              md-tooltip="Auto estimate from children {{componentVersion.type | capitalize}}s"
              (click)="autoEstimateFromReferences()">
              <i style="font-size: x-small; color: grey" class="fa fa-calculator" aria-hidden="true"></i>
            </button>

            <button md-icon-button (click)="createUserCategory()" md-tooltip="Create a new user category">
              <i style="font-size: x-small; color: grey" class="fa fa-file-o" aria-hidden="true"></i>
            </button>

            <button *ngIf="unEstimatedUserCategories.length != 0"
                    md-icon-button
                    md-tooltip="Add estimation"
                    [mdMenuTriggerFor]="userCategoriesDropdown">
              <i style="font-size: x-small; color: grey" class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <md-menu #userCategoriesDropdown="mdMenu">
              <button *ngFor="let unEstimatedUserCategory of unEstimatedUserCategories"
                      md-menu-item
                      (click)="pushUserCategoryForEstimation(unEstimatedUserCategory)">
                {{unEstimatedUserCategory.name}}
              </button>
            </md-menu>
          </div>
        </div>
        <div fxLayout="column" style="padding-top: 10px;height: 100%; max-height: 230px;overflow: auto;">

          <md-card-content fxFlex>


            <div fxLayout="row" style="margin-bottom: 10px" fxLayoutAlign="space-between center"
                 *ngFor="let estimatedTime of estimatedTimes; let i = index" [attr.data-index]="i">
              <div fxFlex="80">
                <md-input-container>
                  <input mdInput
                         placeholder="{{estimatedTime.userCategory.name}}" name="time"
                         [(ngModel)]="estimatedTimes[i].duration">
                </md-input-container>
                <i class="fa fa-question-circle" md-tooltip="Supported estimation format: 1d 2h" aria-hidden="true"></i>
              </div>
              <div fxFlex>

                <button md-icon-button (click)="deleteEstimatedUserCategory(i)" md-tooltip="Remove this estimation">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </div>

            </div>
          </md-card-content>
        </div>
      </md-card>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" style="height: 50px">
    <button md-raised-button color="primary" (click)="save()"><i class="fa fa-check" aria-hidden="true"></i> Save
    </button>
  </div>

</div>
