<div fxLayout="column" style="padding: 5px;">

  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between">
    <div fxFlex="7 0 200px" style="padding: 5px;">
      <md-card fxLayout="column" style="height: 100%; border-left: 2px solid #189DE1">
        <md-card-content>

          <!-- Title -->
          <div fxFlex style="margin:15px 5px">
            <md-input-container style="width: 100%">
              <input mdInput class="form-control" required [(ngModel)]="componentVersion.title"
                     placeholder="Title"
                     name="Title"
                     type="text">
            </md-input-container>
          </div>

          <div fxLayout="row" fxLayoutWrap>

            <!-- Component Type-->
            <div fxFlex fxFlex.xs="100" style="margin:15px 5px">
              <md-select name="items" [(ngModel)]="componentVersion.requirementType" placeholder="Type" style="width: 80%">
                <md-option value="BUSINESS">Business</md-option>
                <md-option value="FUNCTIONAL">Functional</md-option>
                <md-option value="DESIGN">Design</md-option>
                <md-option value="PERFORMANCE">Performance</md-option>
                <md-option value="OTHER">Other</md-option>
              </md-select>
            </div>

            <!-- Distribution Level -->
            <div fxFlex fxFlex.xs="100" style="margin:15px 5px">
              <md-select name="distributionLevel" [(ngModel)]="componentVersion.distributionLevel" placeholder="Distribution Level" style="width: 80%">
                <md-option value="PUBLIC">Public</md-option>
                <md-option value="INTERNAL">Internal</md-option>
                <md-option value="RESTRICTED">Restricted</md-option>
                <md-option value="SECRET">Secret</md-option>
              </md-select>
            </div>
          </div>

          <!-- Tags -->
          <div fxLayout="row">
            <div fxFlex>
              <p>
                <md-input-container>
                  <input mdInput [ngModelOptions]="{standalone: true}" [(ngModel)]="tagToAdd" placeholder="Tags"
                         (keypress)="addNewTag($event)">
                </md-input-container>
              </p>
              <div class="badge badge-default" style="display: inline-block;margin-right: 5px"
                   *ngFor="let tag of componentVersion.tags">{{tag}}&nbsp;</div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>


    <div fxFlex="3 0 150px" fxLayout="column" style="padding: 5px; ">
      <md-card style="margin-bottom: 10px; border-left: 2px solid #ec4363">
        <md-card-content fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between">
          <div fxFlex>
            <md-checkbox [(ngModel)]="componentVersion.requiredTest">Require Test</md-checkbox>
          </div>
          <div fxFlex>
            <md-checkbox [(ngModel)]="componentVersion.readOnly" (change)="readOnly = $event">Read only</md-checkbox>
          </div>
        </md-card-content>
      </md-card>

      <md-card style="height: 100%; border-left: 2px solid #636262">
        <md-card-content fxFlex>
          <md-card-title style="margin-bottom:5px; font-size: 15px">Created</md-card-title>
          <md-card-subtitle>{{componentVersion.creationDate | amTimeAgo }} by
            <a role="button"><span style="font-weight: bold">{{componentVersion.createdUser.fullName}}</span></a>
          </md-card-subtitle>

          <md-card-title style="margin-bottom:5px; font-size: 15px">Updated</md-card-title>
          <md-card-subtitle>{{componentVersion.lastModifiedDate | amTimeAgo }} by
            <a role="button"><span style="font-weight: bold">{{componentVersion.lastModifiedUser.fullName}}</span></a>
          </md-card-subtitle>
        </md-card-content>
      </md-card>
    </div>
  </div>

  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between">
    <!-- Risk Assessment-->
    <div fxFlex="7 0 200px" fxFlex.sm="100" style="padding: 5px; ">
      <md-card fxFlex style="height: 100%;">
        <md-card-title style="font-size: 15px; margin-bottom: 5px">Risk Assessment</md-card-title>
        <md-card-content>

        </md-card-content>
      </md-card>

    </div>
    <!-- Estimated Time-->
    <div fxFlex="3 0 150px" fxFlex.sm="100" style="padding: 5px; ">
      <md-card fxLayout="column">
        <div fxLayout="row">
          <div fxFlex>
            <md-card-title style="font-size: 15px; margin-bottom: 5px">Estimated time</md-card-title>
            <md-card-subtitle>Per user category</md-card-subtitle>
          </div>
          <div fxLayoutAlign="end start">
            <button *ngIf="unEstimatedUserCategories.length != 0"
                    md-icon-button
                    md-tooltip="Add estimation"
                    [mdMenuTriggerFor]="userCategoriesDropdown"
                    (click)="fetchUnEstimatedUserCategories()">
              <i style="font-size: x-small; color: grey" class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <md-menu #userCategoriesDropdown="mdMenu">
              <button *ngFor="let unEstimatedUserCategory of unEstimatedUserCategories" md-menu-item (click)="pushUserCategoryForEstimation(userCategory)">
                {{unEstimatedUserCategory}}
              </button>
            </md-menu>
          </div>
        </div>
        <md-card-content>
          <div fxLayout="row" style="margin-bottom: 10px" fxLayoutAlign="space-between center"
               *ngFor="let estimatedTime of estimatedTimes; let i = index" [attr.data-index]="i">
            <div fxFlex="80">
              <md-input-container>
                <input mdInput
                       placeholder="{{estimatedTime.userCategory.name}}" name="time" type="number"
                       [(ngModel)]="estimatedTimes[i].time">
              </md-input-container>
            </div>
            <div fxFlex>
              <md-select name="unit" [(ngModel)]="estimatedTimes[i].timeUnit" placeholder="Unit">
                <md-option value="HOURS">Hours</md-option>
                <md-option value="DAYS">Days</md-option>
              </md-select>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" style="height: 50px">
    <button md-raised-button color="primary" (click)="save()"><i class="fa fa-check" aria-hidden="true"></i> Save
    </button>
  </div>

</div>
