.avatar-toggle-button {
  border: none;
  background-color: transparent;
}

.avatar-toggle-button img {
  max-width: 43px;
}

.avatar-toggle-menu {
  right: 0 !important;
  left: initial !important;
  margin: 0 !important;
  border-radius: 0 !important;
  border: none !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
}

.avatar-toggle-menu span {
  margin-right: 13px;
  color: #696767;
}
