.main-header {
  height: 50px;
  background: white;
  color: #888888;
  box-shadow: 0 1px 1px -2px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  padding-right: 10px;
  padding-left: 10px;
}

.main-search-container {
  float: left;
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
  position: relative;
  padding-left: 0;
}

.main-search-input {
  background: #fff;
  border-radius: 0;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid #f3f3f3;
  padding-top: 2px;
  padding-bottom: 5px;
  margin-top: 5px;
  width: 260px;
  vertical-align: middle;
}

.view-title {
  display: inherit;
  font-size: 18px;
  font-family: inherit;
  flex: 1;
  color: #58666e;
}

.view-title button {
  margin-right: 5px;
}
