<main-header>
  <div class="main-header-title">Edit {{project.title}}</div>
  <div class="main-header-content" style="display: flex">
    <div>
      <button
          md-icon-button
          md-tooltip="Save"
          (click)="save()">
        <i class="fa fa-save" aria-hidden="true"></i>
      </button>

      <button
          md-icon-button
          md-tooltip="Cancel"
          routerLink="../../">
        <i class="fa fa-close" aria-hidden="true"></i>
      </button>

    </div>
  </div>
</main-header>

<div fxLayout="column" style="overflow: auto;width: 100%; padding: 5px">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap>
    <!-- General Info -->
    <div fxFlex="7 0 250px" style="padding: 5px">
      <md-card>
        <md-card-content fxLayout="column">
          <div fxLayout="row" fxLayoutWrap>
            <div fxFlex fxFlex.xs="100">
            <span mdTooltip="Update your project picture">
              <button md-button (click)="updatePicture()"><img style="max-width: 115px;" src="assets/img/no-picture-icon.png"></button>
            </span>
            </div>
            <div fxFlex="80" fxFlex.xs="100" fxLayout="column" style="padding: 20px !important;">
              <div fxLayout="row" style="margin-bottom: 10px">
                <md-input-container fxFlex="20%" class="panel-content-input-container" style="margin-right: 10px">
                  <input mdInput required
                         [(ngModel)]="project.key"
                         placeholder="Key" name="key" type="text">
                </md-input-container>
                <md-input-container fxFlex="80%" class="panel-content-input-container">
                  <input mdInput required
                         [(ngModel)]="project.title"
                         placeholder="Name" name="title" type="text">
                </md-input-container>
              </div>
              <md-input-container fxFlex class="panel-content-input-container" style="margin-bottom: 10px">
            <textarea mdInput
                      [(ngModel)]="project.description"
                      [maxlength]="descriptionMaxLength"
                      placeholder="Description ({{descriptionMaxLength}} max)" name="Description" type="text"
                      style="min-height: 60px"
                      #description></textarea>
                <md-hint align="end">{{description.value.length}} / {{descriptionMaxLength}}</md-hint>
              </md-input-container>
            </div>
          </div>
          <div fxLayout="row" style="margin: 20px">
            <md-select
                placeholder="Sub-project of"
                fxFlex="70"
                name="subProject" type="">
              <md-option *ngFor="let project of projects" [value]="project">{{project.title}}</md-option>
            </md-select>
          </div>
          <div fxLayout="row" style="margin: 20px">
            <md-select [(ngModel)]="project.manager"
                       fxFlex="70"
                       placeholder="Manager"
                       name="manager">
              <md-option *ngFor="let user of users | async" [value]="user">{{user.username}}</md-option>
            </md-select>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <div fxFlex="3 0 150px" fxLayout="column">

      <!-- History -->
      <div style="padding: 5px ;">
        <md-card *ngIf="!create">
          <md-card-content fxFlex>
            <md-card-title style="margin-bottom:5px; font-size: 15px">Created</md-card-title>
            <md-card-subtitle>{{project.createdDate | amTimeAgo }} by
              <a role="button"><span style="font-weight: bold">{{project.createdUser.fullName}}</span></a>
            </md-card-subtitle>

            <md-card-title style="margin-bottom:5px; font-size: 15px">Updated</md-card-title>
            <md-card-subtitle>{{project.lastModifiedDate | amTimeAgo }} by
              <a role="button"><span style="font-weight: bold">{{project.lastModifiedUser.fullName}}</span></a>
            </md-card-subtitle>
          </md-card-content>
        </md-card>
      </div>
      <!--  Authorized Users-->
      <div style="padding: 5px;">
        <md-card>
          <md-card-subtitle>Authorized Users</md-card-subtitle>
          <md-card-content>
            <div fxLayout="row">
              <ng2-completer
                  [dataService]="dataService"
                  [(inputName)]="searchStr"
                  [minSearchLength]="0"
                  [placeholder]="'Add user...'"
                  [clearSelected]=true
                  (selected)="authorizeUser($event)"
                  style="flex:auto;flex-direction: row; width: 100%">
              </ng2-completer>
            </div>
            <div fxLayout="column" style="max-height: 320px; overflow: auto">
              <md-card *ngFor="let user of project.projectUsers" style="margin-bottom: 5px;">
                <md-card-header fxFlex fxLayout="row">
                  <img md-card-avatar src="assets/img/avatar_m.png">
                  <md-card-title>{{user.fullName}}</md-card-title>
                  <md-card-subtitle>Project Manager</md-card-subtitle>
                  <button role="button" (click)="deleteUserFromProject(user)"><i class="fa fa-trash-o"
                                                                                 aria-hidden="true"></i></button>
                </md-card-header>
              </md-card>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
</div>
