<main-header>
  <div class="main-header-title">{{componentTypes[0] | capitalize}}s</div>
  <div class="main-header-content" fxFlex="50" fxLayout="row" fxLayoutAlign="end">
    <div md-tooltip="Create" fxLayout="row" fxLayoutAlign="end center">
      <button md-icon-button (click)="startCreateComponent()"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
  </div>
</main-header>
<!--<md-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></md-progress-bar>-->


<div class="main-content-content">
  <div class="main-search-container" fxLayout="row" style="background: white; padding: 20px;">
    <form class="main-search" (submit)="search()">
      <div class="main-search-input-wrapper">
        <md-input-container style="margin-right: 20px">
          <input mdInput placeholder="Search..." [(ngModel)]="searchBean.query" name="query">
        </md-input-container>

        <md-select name="items" [(ngModel)]="searchBean.assignee" placeholder="Assignee" style="margin-right: 20px"
                   (change)="fetchComponents()">
          <md-option [value]="null">All</md-option>
          <md-option *ngFor="let assignee of assignees"
                     [value]="assignee">{{assignee.username}}
          </md-option>
        </md-select>


        <md-select name="items" [(ngModel)]="searchBean.status" placeholder="Status" style="margin-right: 20px"
                   (change)="fetchComponents()">
          <md-option [value]="null">All</md-option>
          <md-option *ngFor="let status of statuses"
                     [value]="status">{{status.name}}
          </md-option>
        </md-select>

        <button md-icon-button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        <button md-icon-button (click)="reset()"><i class="fa fa-eraser" aria-hidden="true"></i></button>
      </div>
    </form>
  </div>
  <ngx-datatable
      class="material" style="flex: 1"
      [rows]="components"
      [columnMode]="'flex'"
      [headerHeight]="50"
      [footerHeight]="0"
      [rowHeight]="50"
      [scrollbarV]="true"
      [scrollbarH]="true">
    <ngx-datatable-column [flexGrow]="1.5" name="Code"></ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="4" name="Title">
      <template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div md-tooltip="{{value}}" style="text-align: left !important;">{{value}}</div>
      </template>
    </ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="2" name="Status"
                          prop="workflowInstance.currentWorkflowStatus.status.name">
      <template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div fxLayout="column" fxLayoutAlign="center stretch">
          <!-- todo: color to be rewieved -->
          <button md-tooltip="Update status" md-button type="button"
                  [style.background]="value == 'OPEN'? '#5cb85c' :
                                    value =='IN_VALIDATION'? '#d9a75b' :
                                    value =='CLOSED'? '#d9534f' :
                                    'dodgerblue'"
                  (click)="openUpdateStatus(row)">
            <span style="font-size: 11px !important;">{{value}}</span>
          </button>
        </div>
      </template>
    </ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="2" name="Created">
      <template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row.creationDate | amTimeAgo}}
      </template>
    </ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="2" name="Updated">
      <template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row.workflowInstance.currentWorkflowStatus.createdDate | amTimeAgo}}
      </template>
    </ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="3" name="Actions">
      <template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div class="table-actions">

          <button style="color: #189DE1"
                  md-icon-button
                  md-tooltip="Edit"
                  role="button"
                  (click)="edit(row)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>

          <button style="color: #636262 "
                  md-icon-button
                  md-tooltip="Write"
                  role="button"
                  (click)="write(row)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>

          <button style="color: #028090 "
                  md-icon-button
                  md-tooltip="Print"
                  role="button"
                  (click)="print(row)">
            <i class="fa fa-print" aria-hidden="true"></i>
          </button>

          <button style="color: #ec4363"
                  md-icon-button
                  md-tooltip="Delete"
                  role="button"
                  (click)="delete(row)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
