

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/deep/ .datatable-row-wrapper:nth-child(even) {background: #f8f8f8
}
/deep/  .datatable-row-wrapper:nth-child(odd) {background: #FFF}
