<main-header>
  <div class="main-header-title">Edit {{component.title}}</div>
  <div class="main-header-content" style="display: flex">
    <div>
      <button (click)="save()" md-raised-button color="primary">
        <i class="fa fa-save" aria-hidden="true"></i> Save
      </button>
      <button uiSref="^" md-raised-button color="warn">
        <i class="fa fa-ban" aria-hidden="true"></i> Cancel
      </button>
    </div>
  </div>
</main-header>


<div class="main-content-content">
  <div style="display: flex;flex-direction: column;height: 100%;">
    <form name="componentForm" ng-submit="save()">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" required [(ngModel)]="component.title" name="title" type="text">
      </div>

      <div class="form-group">
        <label>Description</label>
        <input class="form-control" required [(ngModel)]="component.description" name="description" type="text">
      </div>
    </form>

    <tabset *ngIf="!create">
      <tab heading="History">
        <workflow [component]="component" [canUpdateWorkflow]="true" (update)="onWorkflowChange($event)"></workflow>

      </tab>
      <tab heading="Reference">
        <datatable
          class="material" style="flex: 1;min-height:300px"
          [rows]="component.componentReferences"
          [options]="options">
          <datatable-column name="Source" prop="source.title"></datatable-column>
          <datatable-column name="Status" prop="source.currentStatus.name"></datatable-column>

          <datatable-column name="Target" prop="target.title"></datatable-column>
          <datatable-column name="Status" prop="target.currentStatus.name"></datatable-column>

        </datatable>
      </tab>

    </tabset>


  </div>

</div>
