<li>
  <a uiSref="app.home.dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
</li>
<li>
  <a uiSref="app.home.projects"><i class="fa fa-folder-open-o" aria-hidden="true"></i> Projects</a>
</li>

<li>
  <a uiSref="app.home.requirements"><i class="fa fa-tasks" aria-hidden="true"></i> Requirements</a>
</li>
<li>
  <a uiSref="app.home.components"><i class="fa fa-plug" aria-hidden="true"></i> Components</a>
</li>
<li>
  <a uiSref="app.home.templates"><i class="fa fa-file-text" aria-hidden="true"></i> Templates</a>
</li>
<li>
  <a uiSref="app.home.resources"><i class="fa fa-picture-o" aria-hidden="true"></i> Resources</a>
</li>
<li>
  <a uiSref="root.schedule"><i class="fa fa-calendar" aria-hidden="true"></i> Schedule</a>
</li>
<li>
  <a uiSref="root.administration"><i class="fa fa-shield" aria-hidden="true"></i> Administration</a>
</li>

