<div>
  <div>
    <a uiSref="app.home.dashboard"><i class="fa fa-book" aria-hidden="true"></i> Dashboard</a>
  </div>
  <div>
    <a uiSref="app.home.projects"><i class="fa fa-book" aria-hidden="true"></i> Projects</a>
  </div>
  <div>
    <a uiSref="app.home.requirements"><i class="fa fa-tasks" aria-hidden="true"></i> Requirements</a>
  </div>
  <div>
    <a uiSref="app.home.components"><i class="fa fa-file-text" aria-hidden="true"></i> Components</a>
  </div>
  <div>
    <a uiSref="app.home.templates"><i class="fa fa-file-text" aria-hidden="true"></i> Templates</a>
  </div>
  <div>
    <a uiSref="app.home.resources"><i class="fa fa-file-text" aria-hidden="true"></i> Resources</a>
  </div>
  <div>
    <a uiSref="root.schedule"><i class="fa fa-file-text" aria-hidden="true"></i> Schedule</a>
  </div>
  <div>
    <a uiSref="root.administration"><i class="fa fa-file-text" aria-hidden="true"></i> Administration</a>
  </div>

</div>
