<form fxLayout="column" style="width: 100%" *ngIf="userCategory" (submit)="save()">
  <div fxLayout="row" style="height: 100%;">
    <div fxFlex="15"><i  md-card-avatar class="fa fa-user" aria-hidden="true"></i></div>
    <div fxFlex="85">
      <div fxLayout="column" style="width: 100%">

        <md-input-container fxFlex>
          <input mdInput placeholder="Name" name="name" type="text" required [(ngModel)]="userCategory.name">
        </md-input-container>

        <md-input-container fxFlex>
          <input mdInput placeholder="Hourly Price" name="hourlyPrice" required type="number" step="any" [(ngModel)]="userCategory.hourlyPrice">
        </md-input-container>

      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" style="margin: 10px">
    <md-checkbox  *ngIf="create" name="createAndContinue"  [(ngModel)]="createAndContinue">Continue</md-checkbox>

    <div fxFlex>
      <button md-button type="submit">SAVE</button>
    </div>
    <div fxFlex>
      <button md-button (click)="cancel()">CANCEL</button>
    </div>
  </div>
</form>
