<main-header>
  <div class="main-header-title">Projects</div>
  <div class="main-header-content" style="display: flex">
    <div class="rounded-button">
      <button uiSref=".project-edit" [uiParams]="{ projectId: '_new' }">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</main-header>


<div class="main-content-content">

  <div *ngIf="projects.length == 0" class="panel">
    <h5>No project found</h5>
  </div>

  <div class="row">
    <div *ngFor="let project of projects" class="col-md-4 col-sm-6 col-xs-12 projects-container">
      <div class="panel col-md-12" style="padding: 10px">
        <div class="col-md-3 col-sm-12" style="padding: 0 !important;">
          <a><img src="assets/img/no-picture-icon.png" alt="Add a picture to your project" class="project-logo"></a>
        </div>
        <div class="col-md-9 col-sm-12">
          <a (click)="show(project.id)"><h5>{{project.title}}</h5></a>
          <h6>{{project.description}}</h6>
          <h6>{{project.createdDate}}</h6>

          <div class="project-actions">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <i [ngClass]="{'fa fa-star favorite': project.isFavorite, 'fa fa-star-o': !project.isFavorite}"
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--<datatable-->
  <!--class="material" style="flex: 1;height: 100%"-->
  <!--[rows]="projects"-->
  <!--[columnMode]="'force'"-->
  <!--[headerHeight]="50"-->
  <!--[footerHeight]="0"-->
  <!--[rowHeight]="50"-->
  <!--[scrollbarV]="true"-->
  <!--[scrollbarH]="true">-->
  <!--<datatable-column name="Id" [width]="300"></datatable-column>-->
  <!--<datatable-column name="Title"></datatable-column>-->
  <!--<datatable-column name="Description"></datatable-column>-->
  <!--<datatable-column name="Creation">-->
  <!--<template let-row="row" let-value="value">-->
  <!--{{row.creationDate | amTimeAgo}}-->
  <!--</template>-->
  <!--</datatable-column>-->
  <!--<datatable-column name="Action">-->
  <!--<template let-row="row" let-value="value">-->
  <!--<div class="table-actions">-->
  <!--<a tooltip="Delete requirement" class="table-actions" role="button">-->
  <!--<i class="fa fa-trash" aria-hidden="true"></i>-->
  <!--</a>-->
  <!--<a uiSref=".project-edit" [uiParams]="{ projectId: row.id }" tooltip="Edit project" role="button">-->
  <!--<i class="fa fa-pencil" aria-hidden="true"></i>-->
  <!--</a>-->
  <!--<a uiSref="app.home.project.dashboard" [uiParams]="{ projectId: row.id }" tooltip="Edit project"-->
  <!--role="button">-->
  <!--<i class="fa fa-folder-open-o" aria-hidden="true"></i>-->
  <!--</a>-->
  <!--</div>-->
  <!--</template>-->
  <!--</datatable-column>-->
  <!--</datatable>-->
</div>
