<main-header>
  <div class="main-header-title">Projects</div>
  <div class="main-header-content" style="display: flex">
    <div class="rounded-button">
      <button uiSref=".project-edit" [uiParams]="{ projectId: '_new' }">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</main-header>


<div class="main-content-content">

  <div *ngIf="projects.length == 0" class="panel">
    <h5>No project found</h5>
  </div>

  <div class="row">
    <div *ngFor="let project of projects" class="col-md-4 col-sm-6 col-xs-12 projects-container">
      <div class="panel col-md-12 project">
        <div class="col-md-3 col-sm-12" style="padding: 0 !important;">
          <a><img src="assets/img/no-picture-icon.png" alt="Add a picture to your project" class="project-logo"></a>
        </div>
        <div class="col-md-9 col-sm-12">
          <a (click)="show(project.id); addVisit(project.id)"
             role="button">
            <h5>{{project.title}}</h5>
          </a>
          <h6 style="color:#55595c">{{project.description}}</h6>
          <h6 style="font-size: 0.9rem;">Created {{project.createdDate | amTimeAgo }}</h6>

          <div class="project-actions">
            <i [ngClass]="{'fa fa-star favorite': project.isFavorite, 'fa fa-star-o': !project.isFavorite}"
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
