.projects-container {
  padding: 15px;
}

.project {
  padding: 10px;
  border: 1px solid #e8e7e7;
}

.project-logo {
  padding: 0.35rem;
  background-color: #f0f3f4;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  max-width: 75%;
  height: auto;
}

.project-actions {
  text-align: right;
}