<div>

  <div style="padding-bottom: 4px">
    <button md-raised-button (click)="updateStatus()">Update
      {{componentVersion.workflowInstance.currentWorkflowStatus.status.name}}
    </button>
  </div>

  <div class="workflow-history">

    <div>

      <div *ngFor="let status of componentVersion.workflowInstance.workflowStatuses.concat().reverse()"
           style="padding: 4px;">
        <h4 role="button" (click)="visibleStatuses[status.id] = !visibleStatuses[status.id]">

          <i class="fa fa-sticky-note-o" aria-hidden="true" md-tooltip="{{status.reason}}"></i>
          {{status.status.name}}

          <span style="font-size: 0.8rem">{{status.createdDate | amTimeAgo}} by {{status.createdUser.username}}</span>
        </h4>
        <div>
          <ul *ngIf="status.changes.length > 0" style="margin-bottom: 0px">
            <li *ngFor="let change of status.changes.reverse()">
              <div>
                <a (click)="diff(change)" role="button" style="font-size: 0.8rem">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{change.date | amTimeAgo}} by
                  {{change.user.username}}
                </a>
              </div>
              <div style="color: gray;font-size: 0.9rem"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

