<div fxLayout="column" *ngIf="estimations" fxFlex="100%" style="width: 100%; height: 100%">


  <div fxLayout="row" fxLayoutAlign="end center" style="height: 50px;height: 50px">
    <button md-raised-button color="primary" (click)="export()"><i class="fa fa-file-excel-o" aria-hidden="true"></i>
      Export
    </button>
  </div>


  <ngx-datatable
    #table
    class="material" style="flex: 1; height:400px"
    [rows]="estimations"
    [columnMode]="'flex'"
    [headerHeight]="50"
    [footerHeight]="0"
    [rowHeight]="50"
    [scrollbarV]="true"
    [scrollbarH]="true">

    <ngx-datatable-row-detail [rowHeight]="200" #myDetailRow>
      <template let-row="row" ngx-datatable-row-detail-template>
        <div style="padding-left:35px;height: 100%;overflow: auto" fxLayout="row" fxLayoutWrap>

          <md-card style="margin-bottom: 10px; border-left: 2px solid #ec4363;margin-right: 5px" *ngIf="row.estimatedTimesPerCategory.length > 0">
            <md-card-subtitle>Owns</md-card-subtitle>
            <md-card-content fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between">
              <ul>
                <li *ngFor="let estimatedTime of row.estimatedTimesPerCategory">
                  <label style="font-weight: 500">{{estimatedTime.userCategory.name}}</label> -
                  <label style="color: rgba(0, 0, 0, 0.54);">Duration=</label>
                  {{computeDurationInDays(estimatedTime.estimateInMs)}} /
                  <label style="color: rgba(0, 0, 0, 0.54);">Price=</label>
                  {{estimatedTime.price}}
                </li>
              </ul>
            </md-card-content>
          </md-card>
          <md-card style="margin-bottom: 10px; border-left: 2px solid #ec4363;margin-right: 5px" *ngIf="row.childrenEstimatedTimesPerCategory.length > 0">
            <md-card-subtitle>Children</md-card-subtitle>
            <md-card-content fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between">
              <ul>
                <li *ngFor="let estimatedTime of row.childrenEstimatedTimesPerCategory">
                  <label style="font-weight: 500">{{estimatedTime.userCategory.name}}</label> -
                  <label style="color: rgba(0, 0, 0, 0.54);">Duration=</label>
                  {{computeDurationInDays(estimatedTime.estimateInMs)}} /
                  <label style="color: rgba(0, 0, 0, 0.54);">Price=</label>
                  {{estimatedTime.price}}
                </li>
              </ul>
            </md-card-content>
          </md-card>
          <md-card style="margin-bottom: 10px; border-left: 2px solid #ec4363;margin-right: 5px" *ngIf="row.totalEstimatedTimesPerCategory.length > 0">
            <md-card-subtitle>Total</md-card-subtitle>
            <md-card-content fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between">
              <ul>
                <li *ngFor="let estimatedTime of row.totalEstimatedTimesPerCategory">
                  <label style="font-weight: 500">{{estimatedTime.userCategory.name}}</label> -
                  <label style="color: rgba(0, 0, 0, 0.54);">Duration=</label>
                  {{computeDurationInDays(estimatedTime.estimateInMs)}} /
                  <label style="color: rgba(0, 0, 0, 0.54);">Price=</label>
                  {{estimatedTime.price}}
                </li>
              </ul>
            </md-card-content>
          </md-card>
        </div>

      </template>
    </ngx-datatable-row-detail>


    <ngx-datatable-column
      [flexGrow]="1"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false">

      <template ngx-datatable-header-template>
        <i class="fa fa-info" aria-hidden="true"></i>
      </template>

      <template let-row="row" ngx-datatable-cell-template>
        <a title="Expand/Collapse Row" (click)="toggleExpandRow(row)"
           *ngIf="row.componentVersion.estimatedTimes.length > 0">
          <i [class.fa-expand]="!row.$$expanded" [class.fa-compress]="row.$$expanded" class="fa "
             aria-hidden="true"></i>
        </a>
      </template>
    </ngx-datatable-column>


    <ngx-datatable-column [flexGrow]="1" name="Code"
                          prop="componentVersion.code"></ngx-datatable-column>

    <ngx-datatable-column [flexGrow]="4" name="Title">
      <template let-row="row" let-value="value" ngx-datatable-cell-template>
        <span [ngStyle]="{'padding-left': row.level*8 + 'px'}">{{row.componentVersion.title}}</span>
      </template>
    </ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="1" name="Estimation (d)">
      <template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{computeDurationInDays(row.estimatedTime.estimateInMs)}}
      </template>
    </ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="1" name="Total (d)">
      <template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{computeDurationInDays(row.totalEstimatedTime.estimateInMs)}}
      </template>
    </ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="1" name="Total Price (€)">
      <template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{row.totalEstimatedTime.price| number : '1.2-2'}}
      </template>
    </ngx-datatable-column>

    <ngx-datatable-column [flexGrow]="1" name="Action">
      <template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div class="table-actions">


          <button type="button" class="btn btn-outline-primary btn-tiny" (click)="edit(row.componentVersion)"
                  md-tooltip="Edit {{row.type | lowercase}}">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>

          <button type="button" class="btn btn-outline-primary btn-tiny" (click)="write(row.componentVersion)"
                  md-tooltip="Write {{row.type | lowercase}}">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>

        </div>
      </template>
    </ngx-datatable-column>
  </ngx-datatable>


</div>
