body {
  color: #666666;
  font-size: 14px;
}

.logo-container {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}


.error-container{
  position: relative;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}