<main-header *ngIf="component">
  <div class="main-header-title">
    <h6 style="font-size: 15px; margin-bottom: 3px">{{component.code}} - {{component.title}}</h6>
    <h6 style="font-size: 13px; font-weight: 300; margin: 0">Version {{component.version}}</h6>
  </div>
  <div class="main-header-content" style="display: flex">
    <div *ngIf="saved != null" fxLayoutAlign="end center" style="max-width: 280px; font-size: 13px;padding-right: 15px">
      {{saved ? 'All changes saved' : 'Save pending...'}}
    </div>
    <button (click)="autoSave()" md-icon-button *ngIf="!saved"><i class="fa fa-save" aria-hidden="true"></i></button>

    <div md-tooltip="Edit {{component.type | lowercase}}">
      <button md-icon-button (click)="gotoEditComponent()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    </div>

    <div md-tooltip="Cancel">
      <button md-icon-button routerLink="../../"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
  </div>
</main-header>

<div id="toolbarId">

</div>

<div style="display: flex;flex-direction: row;height: 100%" *ngIf="component">

  <div>

    <write-sidenav menuPosition="left"
                   [menus]="['requirements', 'components', 'resources', 'templates', 'workflow', 'comments']"
                   [component]="component" (update)="onUpdate($event)" [canUpdateWorkflow]="saved"
                   [editorEvent]="editorEventEmitter"></write-sidenav>

  </div>
  <div style="flex: 1">

    <div class="main-content-content" style="display: flex;flex-direction: row; margin-top: 0px;height:100%"
         *ngIf="component != null">
      <div style="flex: 1" #container>
        <ckeditor #ckeditor
                  [(ngModel)]="content"
                  [config]="{ extraAllowedContent: '*[id]', height: '200px', basePath: '/assets/js/ckeditor/' , sharedSpaces:{top:'toolbarId'}}"
                  (dataChange)="onChange($event)"
                  (tocChange)="tocChange($event)"
                  (composePdf)="composePdf($event)"
                  [readonly]="!component.workflowInstance.currentWorkflowStatus.status.editable"
                  [container]="container"
                  (editorEvent)="editorEvent($event)"
                  (ready)="onReady($event)">
        </ckeditor>
      </div>
    </div>
  </div>

  <div style="display:flex;flex-direction:row;height: 100%">
    <write-sidenav menuPosition="right" [menus]="['toc' , 'component']" [component]="component"
                   (update)="onUpdate($event)"
                   [canUpdateWorkflow]="saved" [editorEvent]="editorEventEmitter"></write-sidenav>
  </div>

</div>
