<main-header *ngIf="component">
  <div class="main-header-title">Write {{component.title}}</div>
  <div class="main-header-content" style="display: flex">
    <div style="max-width: 280px; font-size: 1rem;padding-right: 5px" *ngIf="saved != null">
      {{saved ? 'All changes saved' : 'Save pending...'}}
      <button (click)="autoSave()" md-raised-button color="primary" *ngIf="!saved">
        <i class="fa fa-save" aria-hidden="true"></i> Save
      </button>
    </div>
    <button uiSref="^" md-raised-button color="warn">
      <i class="fa fa-ban" aria-hidden="true"></i> Close
    </button>
  </div>
</main-header>

<div id="toolbarId">

</div>

<div style="display: flex;flex-direction: row;height: 100%" *ngIf="component">

  <div style="width: 350px">
    <write-sidenav [component]="component" (update)="onUpdate($event)" [canUpdateWorkflow]="saved"></write-sidenav>

  </div>
  <div style="flex: 1">

    <div class="main-content-content" style="display: flex;flex-direction: row; margin-top: 0px;height:100%" *ngIf="component != null">
      <div style="flex: 1" #container>
        <ckeditor #ckeditor
                  [(ngModel)]="content"
                  [config]="{ extraAllowedContent: '*[id]', uiColor: '#99000', height: '200px', basePath: '/assets/js/ckeditor/' , sharedSpaces:{top:'toolbarId'}}"
                  (dataChange)="onChange($event)"
                  (tocChange)="tocChange($event)"
                  [readonly]="!component.currentWorkflowStatus.status.editable"
                  [container]="container"
                  (ready)="onReady($event)">
        </ckeditor>
      </div>

      <div style="display:flex;flex-direction:row;width: 400px;height: 100%;padding-left: 10px">
        <tabset class="component-write-tabs">
          <tab heading="Toc" customClass="foobar">
            <toc [tocItems]="tocItems" (gotoTocItem)="gotoTocItem($event)"></toc>
          </tab>
        </tabset>

      </div>

    </div>

  </div>
</div>
