
<div style="flex:1;display: flex;flex-direction: row;height: 100%;background: white">

  <template #content>
    <div myHighlight [rDirections]="menuPosition == 'left' ? ['right'] : ['left']" [@slideInOut]="menuState"
         style="width:200px;flex: 1;height: 100%;padding-left: 4px;overflow-x: hidden">


      <components-selection *ngIf="activeTab == 'requirements'" [component]="component"
                            [types]="['REQUIREMENT']"></components-selection>
      <components-selection *ngIf="activeTab == 'components'" [component]="component"
                            [types]="['COMPONENT']"></components-selection>
      <resources-selection *ngIf="activeTab == 'resources'" [component]="component"
                            [types]="['RESOURCE']"></resources-selection>
      <components-selection *ngIf="activeTab == 'templates'" [component]="component"
                            [types]="['TEMPLATE']"></components-selection>

      <comments *ngIf="activeTab == 'comments'" [component]="component" (update)="onUpdate($event)"></comments>

      <workflow *ngIf="activeTab == 'workflow'" [canUpdateWorkflow]="canUpdateWorkflow" [componentVersion]="component"
                (update)="onUpdate($event)"></workflow>

      <toc *ngIf="activeTab == 'toc'" [tocItems]="parent.tocItems" (gotoTocItem)="parent.gotoTocItem($event)"></toc>

      <component-edit-sidenav *ngIf="activeTab == 'component'" [editorEvent]="editorEvent"></component-edit-sidenav>

    </div>
  </template>
  <template #menu>
    <div class="menu-left">
      <div>
        <a role="button" class="toggle" (click)="toggleMenu()"><i class="fa fa-bars" aria-hidden="true"></i></a>
      </div>
      <div [ngClass]="{'selected':activeTab ==  'toc'}" *ngIf="isVisible('toc')" md-tooltip="Table of content"
           [tooltip-position]="tooltipPosition()">
        <a role="button"><i class="fa fa-th-list" aria-hidden="true" (click)="activeTab = 'toc'"></i></a>
      </div>
      <div [ngClass]="{'selected':activeTab ==  'requirements'}" *ngIf="isVisible('requirements')"
           md-tooltip="Requirements" [tooltip-position]="tooltipPosition()">
        <a role="button"><i class="fa fa-file" aria-hidden="true" (click)="activeTab = 'requirements'"></i></a>
      </div>
      <div [ngClass]="{'selected':activeTab ==  'components'}" *ngIf="isVisible('components')" md-tooltip="Components"
           [tooltip-position]="tooltipPosition()">
        <a role="button"><i class="fa fa-file-o" aria-hidden="true" (click)="activeTab = 'components'"></i></a>
      </div>
      <div [ngClass]="{'selected':activeTab ==  'resources'}" *ngIf="isVisible('resources')" md-tooltip="Resources"
           [tooltip-position]="tooltipPosition()">
        <a role="button"><i class="fa fa-picture-o" aria-hidden="true" (click)="activeTab = 'resources'"></i></a>
      </div>
      <div [ngClass]="{'selected':activeTab ==  'templates'}" *ngIf="isVisible('templates')" md-tooltip="Templates"
           [tooltip-position]="tooltipPosition()">
        <a role="button"><i class="fa fa-file-text-o" aria-hidden="true" (click)="activeTab = 'templates'"></i></a>
      </div>
      <div [ngClass]="{'selected':activeTab ==  'workflow'}" *ngIf="isVisible('workflow')" md-tooltip="Workflow"
           [tooltip-position]="tooltipPosition()">
        <a role="button"><i class="fa fa-history" aria-hidden="true" (click)="activeTab = 'workflow'"></i></a>
      </div>
      <div [ngClass]="{'selected':activeTab ==  'comments'}" *ngIf="isVisible('comments')" md-tooltip="Comments"
           [tooltip-position]="tooltipPosition()">
        <a role="button"><i class="fa fa-comments" aria-hidden="true" (click)="activeTab = 'comments'"></i></a>
      </div>

      <div [ngClass]="{'selected':activeTab ==  'component'}" *ngIf="isVisible('component')" md-tooltip="Component"
           [tooltip-position]="tooltipPosition()">
        <a role="button"><i class="fa fa-pencil" aria-hidden="true" (click)="activeTab = 'component'"></i></a>
      </div>

    </div>
  </template>


  <template [ngTemplateOutlet]="menu" *ngIf="menuPosition == 'left'">
  </template>
  <template [ngTemplateOutlet]="content">
  </template>
  <template [ngTemplateOutlet]="menu" *ngIf="menuPosition == 'right'">
  </template>


</div>
