
:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: auto;
}

.content {
  width: 100%;
  border: 1px solid #ececec;
  background: white;
  margin: 2px 2px 1px 1px;
  padding-left: 4px;
  font-family: Roboto;
  font-size: 0.9rem;
}

h5 {

}


ul {
  list-style: none;
  padding-left: 0px;
}


.title0 {
  font-size: 1.1rem;
  font-weight: 500;
  padding-top: 15px;
}

.title1 {
  margin-left: 20px;
  font-size: 1.0rem;
}

.title2 {
  margin-left: 46px;
  font-size: 0.9rem;
  font-style: italic;
}

.title3 {
  margin-left: 70px;
  font-size: 0.9rem;
  font-style: italic;
}
