<main-header>
  <div class="main-header-title">Dashboard</div>
  <div class="main-header-content" style="display: flex">
  </div>
</main-header>

<div *ngIf="!stateIsInAProject" fxLayout="column">

  <!-- CARDS -->
    <div fxLayout="row">
    <div fxFlex="33%" class="panel">
      <div class="panel-heading">
        <div fxLayout="row">
          <div fxFlex fxLayoutAlign="start center">
            <h6>Projects</h6>
          </div>
          <div fxFlex="25%" fxLayoutAlign="end center">
            <h5>{{projectsNumber}}</h5>
          </div>
        </div>
      </div>
      <div fxLayout="column" class="panel-content">
        <div *ngIf="lastVisitedProjects" class="panel-content-list">
          <h5>Last</h5>
          <div *ngFor="let project of lastVisitedProjects">
            <a (click)="showProject(project.id)" role="button">{{project.title}}</a>
          </div>
        </div>

        <div *ngIf="!lastVisitedProjects">
          <button md-raised-button class="md-cornered" (click)="newProject()">Create new project</button>
        </div>
      </div>
    </div>
    <div fxFlex="33%" class="panel ">
      <div class="panel-heading">
        <div fxLayout="row">
          <div fxFlex fxLayoutAlign="start center">
            <h6>Documents</h6>
          </div>
          <div fxFlex="25%" fxLayoutAlign="end center">
            <h5>{{documentsNumber}}</h5>
          </div>
        </div>
      </div>
      <div class="line"></div>
      <div class="panel-content">
        <div class="panel-content-list">
          <h5>Last</h5>
          <div *ngFor="let document of lastVisitedDocuments">
            <a (click)="showComponent(document.id)" role="button">{{document.title}}</a>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="33%" class="panel ">
      <div class="panel-heading">
        <div fxLayout="row">
          <div fxFlex fxLayoutAlign="start center">
            <h6>Requirements</h6>
          </div>
          <div fxFlex="25%" fxLayoutAlign="end center">
            <h5>{{requirementsNumber}}</h5>
          </div>
        </div>
      </div>
      <div class="panel-content">
        <div class="panel-content-list">
          <h5>Last</h5>
          <div *ngFor="let requirement of lastVisitedRequirements">
            <a (click)="showComponent(requirement.id)" role="button">{{requirement.title}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CHARTS -->
    <div fxLayout="row">

    <!-- Line chart-->
    <div fxFlex="50%" class="panel">
      <div class="panel-heading">
        <div fxLayout="row">
          <div fxFlex fxLayoutAlign="start center">
            <h6>Requirement Evolution</h6>
          </div>
          <div fxFlex="25%" fxLayoutAlign="end center" class="tools">
            <a role="button"><i class="fa fa-download" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="panel-content">
        <div class="canvas-container">
          <canvas baseChart
                  [chartType]="requirementEvolutionChartType"
                  [labels]="requirementEvolutionChartLabels"
                  [datasets]="requirementEvolutionChartData"
                  [options]="{responsive: true}"
                  [legend]="true"
                  (chartClick)="showStatusFilteredRequirement($event)"></canvas>
        </div>
      </div>
    </div>

    <!-- Pie and Doughnut chart-->
    <div fxFlex="50%" fxLayout="row">

      <!-- Requirement Coverage -->
      <div fxFlex class="panel">
        <div class="panel-heading">
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="start center">
              <h6>Requirement Coverage</h6>
            </div>
            <div fxFlex="25%" fxLayoutAlign="end center" class="tools">
              <a role="button"><i class="fa fa-download" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="panel-content">
          <div class="canvas-container">
            <canvas baseChart
                    width="210"
                    height="210"
                    [chartType]="requirementCoverageChartType"
                    [labels]="requirementCoverageChartLabels"
                    [data]="requirementCoverageChartData"
                    (chartClick)="showCoverageFilteredRequirements($event)"
                    [options]="{legend: {position:'bottom'}}"
            ></canvas>
          </div>
        </div>
      </div>

      <!-- Requirement Type -->
      <div fxFlex class="panel">
        <div class="panel-heading">
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="start center">
              <h6>Requirement Types</h6>
            </div>
            <div fxFlex="25%" fxLayoutAlign="end center" class="tools">
              <a role="button"><i class="fa fa-download" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="panel-content">
          <div class="canvas-container">
            <canvas baseChart
                    width="210"
                    height="210"
                    [chartType]="requirementTypeChartType"
                    [labels]="requirementTypeChartLabels"
                    [data]="requirementTypeChartData"
                    (chartClick)="showTypeFilteredRequirements($event)"
                    [options]="{legend: {position:'bottom'}}"
            ></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
