

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}
.canvas-container {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;

}

.panel {
  background: #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 5px;
  box-sizing: content-box;
}

.panel-content {
  padding: 5px;
  box-sizing: content-box;
}

.panel-content-list {
  padding: 15px;
  color: grey;
}

.panel-content-list a {
  color: #0275d8 !important;
  text-decoration: none;
}

.panel-content-list h5 {
  font-size: 14px !important;
}

.panel-content-list a {
  font-size: 12px !important;
  text-decoration: none !important;
}
