<main-header>
  <div class="main-header-title">Dashboard</div>
  <div class="main-header-content" style="display: flex">
  </div>
</main-header>

<div *ngIf="!stateIsInAProject" class="main-content-content">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="panel ">
        <div class="panel-header">
          <div class="col-md-8 col-sm-8 col-xs-12 text-left">
            <h4>Projects</h4>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="pull-right">
              <h2>{{projectsNumber}}</h2>
            </div>
          </div>
        </div>
        <div class="line"></div>
        <div class="panel-content">
          <div class="panel-content-list">
            <h5>Last</h5>
            <div *ngFor="let project of lastVisitedProjects">
              <a (click)="showProject(project.id)" role="button">{{project.title}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="panel ">
        <div class="panel-header">
          <div class="col-md-8 col-sm-8 col-xs-12 text-left">
            <h4>Documents</h4>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="pull-right">
              <h2>{{documentsNumber}}</h2>
            </div>
          </div>
        </div>
        <div class="line"></div>
        <div class="panel-content">
          <div class="panel-content-list">
            <h5>Last</h5>
            <div *ngFor="let document of lastVisitedDocuments">
              <a (click)="showComponent(document.id)" role="button">{{document.title}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="panel ">
        <div class="panel-header">
          <div class="col-md-8 col-sm-8 col-xs-12 text-left">
            <h4>Requirements</h4>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="pull-right">
              <h2>{{requirementsNumber}}</h2>
            </div>
          </div>
        </div>
        <div class="line"></div>

        <div class="panel-content">
          <div class="panel-content-list">
            <h5>Last</h5>
            <div *ngFor="let requirement of lastVisitedRequirements">
              <a (click)="showComponent(requirement.id)" role="button">{{requirement.title}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-sm-12 ">
      <div class="panel">
        <div class="panel-header">
          <div class="col-md-8 col-sm-8 col-xs-12 text-left">
            <h4>Requirement Evolution</h4>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="tools pull-right">
              <a role="button"><i class="fa fa-download" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="line"></div>
        <div class="panel-content">
          <div class="canvas-container">
            <canvas baseChart
                    [chartType]="requirementEvolutionChartType"
                    [labels]="requirementEvolutionChartLabels"
                    [datasets]="requirementEvolutionChartData"
                    [options]="{responsive: true}"
                    [legend]="true"
                    (chartClick)="showStatusFilteredRequirement($event)"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-sm-12 no-padding">
      <div class="col-md-6 col-sm-12">
        <div class="panel">
          <div class="panel-header">
            <div class="col-md-8 col-sm-8 col-xs-12 text-left">
              <h4>Requirement Coverage</h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="tools pull-right">
                <a role="button"><i class="fa fa-download" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="line"></div>
          <div class="panel-content">
            <div class="canvas-container">
              <canvas baseChart
                      width="250"
                      height="250"
                      [chartType]="requirementCoverageChartType"
                      [labels]="requirementCoverageChartLabels"
                      [data]="requirementCoverageChartData"
                      (chartClick)="showCoverageFilteredRequirements($event)"
                      [options]="{legend: {position:'bottom'}}"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="panel">
          <div class="panel-header">
            <div class="col-md-8 col-sm-8 col-xs-12 text-left">
              <h4>Requirement Types</h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="tools pull-right">
                <a role="button"><i class="fa fa-download" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="line"></div>
          <div class="panel-content">
            <div class="canvas-container">
              <canvas baseChart
                      width="250"
                      height="250"
                      [chartType]="requirementTypeChartType"
                      [labels]="requirementTypeChartLabels"
                      [data]="requirementTypeChartData"
                      (chartClick)="showTypeFilteredRequirements($event)"
                      [options]="{legend: {position:'bottom'}}"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="stateIsInAProject" class="main-content-content">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="panel ">
        <div class="panel-header">
          <div class="col-md-8 col-sm-8 col-xs-12 text-left">
            <h4>Documents</h4>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="pull-right">
              <h2>12</h2>
            </div>
          </div>
        </div>
        <div class="line"></div>
        <div class="panel-content">
          <div class="panel-content-list">
            <h5>Last</h5>
            <div><a href="#" role="button">Document 1</a></div>
            <div><a href="#" role="button">Document 2</a></div>
            <div><a href="#" role="button">Document 3</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="panel ">
        <div class="panel-header">
          <div class="col-md-8 col-sm-8 col-xs-12 text-left">
            <h4>Requirements</h4>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="pull-right">
              <h2>3,085</h2>
            </div>
          </div>
        </div>
        <div class="line"></div>

        <div class="panel-content">
          <div class="panel-content-list">
            <h5>Last</h5>
            <div><a href="#" role="button">Requirement 1</a></div>
            <div><a href="#" role="button">Requirement 2</a></div>
            <div><a href="#" role="button">Requirement 3</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-sm-12 ">
      <div class="panel">
        <div class="panel-header">
          <div class="col-md-8 col-sm-8 col-xs-12 text-left">
            <h4>Requirement Evolution</h4>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="tools pull-right">
              <a role="button"><i class="fa fa-download" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="line"></div>
        <div class="panel-content">
          <div class="canvas-container">
            <canvas baseChart
                    [datasets]="requirementEvolutionChartData"
                    [labels]="requirementEvolutionChartLabels"
                    [options]="requirementEvolutionChartOptions"
                    [legend]="true"
                    chartType="line"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-sm-12 no-padding">
      <div class="col-md-6 col-sm-12">
        <div class="panel">
          <div class="panel-header">
            <div class="col-md-8 col-sm-8 col-xs-12 text-left">
              <h4>Requirement Coverage</h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="tools pull-right">
                <a role="button"><i class="fa fa-download" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="line"></div>
          <div class="panel-content">
            <div class="canvas-container">
              <canvas baseChart
                      width="250"
                      height="250"
                      [data]="requirementCoverageChartData"
                      [labels]="requirementCoverageChartLabels"
                      [chartType]="requirementEvolutionChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"
                      [options]="{legend: {position:'bottom'}}"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="panel">
          <div class="panel-header">
            <div class="col-md-8 col-sm-8 col-xs-12 text-left">
              <h4>Requirement Types</h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="tools pull-right">
                <a role="button"><i class="fa fa-download" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="line"></div>
          <div class="panel-content">
            <div class="canvas-container">
              <canvas baseChart
                      width="250"
                      height="250"
                      [data]="requirementTypeChartData"
                      [labels]="requirementTypeChartLabels"
                      chartType="pie"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"
                      [options]="{legend: {position:'bottom'}}"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>