<div *ngIf="!hidden" class="sidenav">
  <!--Logo-->
  <div class="sidenav-logo">
    <button (click)="goToHomePage()" role="button"><img src="/assets/img/os-center-logo-170x43_white.png" alt="Ownspec center"></button>
  </div>

  <!--User menu-->
  <div class="sidenav-user-menu">
    <div>
      <img src="/assets/img/avatar_f.png" style="max-width: 40px; margin-left:7px; margin-right: 7px;"/>
    </div>
    <div>
      <button fxLayout="row" role="button" [mdMenuTriggerFor]="menu" style="text-align: left">
        <div>
          <h5 style="color:white;font-size: 14px;">{{activeUser.fullName}}</h5>
          <h6 style="color:darkgrey;font-size: 11px; font-weight: lighter;font-style: italic">{{activeUser.role}}</h6>
        </div>
        <i class="fa fa-angle-down" aria-hidden="false" style="color:lightgrey;font-size: 13px; margin-left: 5px"></i>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item><i class="fa fa-user" aria-hidden="true"></i>Profile</button>
        <button md-menu-item><i class="fa fa-cogs" aria-hidden="true"></i>Settings</button>
        <li class="dropdown-divider"></li>
        <button md-menu-item (click)="logoutUser()">
          <i class="fa fa-power-off" aria-hidden="true" style="display:table; margin:auto;"></i>
        </button>
      </md-menu>
    </div>
  </div>

  <!--Navigation-->
  <div *ngIf="stateIsInAProject" style="margin-top: 5px">
    <button md-icon-button (click)="toggleMenu()"><i style="color: grey" class="fa fa-arrow-left" aria-hidden="true"></i></button>
  </div>

  <div class="sidenav-menu-items">
    <li *ngFor="let item of menuItems" routerLinkActive="active">
      <a [routerLink]="stateIsInAProject?'/projects/'+projectId+'/'+item.state:item.state">
        <div><i class="fa {{item.icon}}" aria-hidden="true"></i>{{item.name}}</div>
      </a>
    </li>
  </div>

  <!--Help-->
  <div class="sidenav-footer">
    <i class="fa fa-question-circle" aria-hidden="true"></i>
  </div>
</div>
