<div *ngIf="!hidden" class="sidenav">
  <!--Logo-->
  <div class="sidenav-logo">
    <button (click)="goDefaultView()" role="button"><img src="/assets/img/os-center-logo-170x43.png" alt="Ownspec center"></button>
  </div>

  <div *ngIf="stateIsInAProject" style="margin-top: 5px">
    <button uiSref="app.home.projects" type="button"><i class="fa fa-arrow-left back_button" aria-hidden="true"></i></button>
  </div>

  <!--User menu-->
  <div class="sidenav-user-menu">
    <button [mdMenuTriggerFor]="menu">
      <img src="/assets/img/avatar_f.png" class="img-circle avatar"/>
      <a style="display: block">{{activeUser.firstName}} {{activeUser.lastName}}<i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <a class="dropdown-item" href="#"><span class="fa fa-user"></span> Profile</a>
      </button>
      <button md-menu-item>
        <a class="dropdown-item" href="#"><span class="fa fa-cogs"></span> Settings</a>
      </button>
      <li class="divider dropdown-divider"></li>
      <button md-menu-item (click)="logoutUser()">
        <a class="dropdown-item" href="#" (click)="logoutUser()"><span class="fa fa-power-off" style="display:table; margin:auto;"></span></a>
      </button>
    </md-menu>
  </div>

  <!--Navigation-->
  <div class="sidenav-menu-items">
    <li *ngFor="let item of menuItems">
      <a uiSref={{item.state}}>
        <div><i class="fa {{item.icon}}" aria-hidden="true"></i>{{item.name}}</div>
      </a>
    </li>
  </div>

  <!--Help-->
  <div class="sidenav-footer">
    <i class="fa fa-question-circle" aria-hidden="true"></i>
  </div>
</div>
