a {
  color: #ccc;
}

button {
  border: none;
  background-color: transparent;
}

.sidenav {
  display: flex;
  flex-direction: column;
  float: left;
  width: 175px;
  height: 100%;
  background: #424242;
  position: fixed;
  z-index: 1;
}

/* Logo */
.sidenav-logo {
  display: block;
  text-align: center;
  height: 50px;
  border-right: 2px solid #ec4363;
  line-height: 50px;
  background: white;
}

.sidenav-logo img {
  max-width: 135px;
}

/* User menu*/
.sidenav-user-menu {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.sidenav-user-menu button > img {
  max-width: 50px;
}

.sidenav-user-menu a span {
  margin-right: 13px;
  color: #696767;
}

/* Menu items */
.sidenav-menu-items li {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
}

.sidenav-menu-items li:hover {
  background-color: #6b6a6a;

}

.sidenav-menu-items li.active {
  border-left: 4px solid #F14264;
}

.sidenav-menu-items i {
  margin-left: 8px;
  margin-right: 8px;
}

/* Footer */
.sidenav-footer {
  display: block;
  text-align: right;
  margin-top: auto;
  bottom: 0;
}

.sidenav-footer i {
  padding: 20px;
  font-size: large;
}

.back_button {
  border: 2px solid #cccccc;
  color: #cccccc;
  border-radius: 20px;
  padding: 5px;
  font-size: small;
}