/* You can add global styles to this file, and also import other style files */
//
// Includes/imports all third-party stylesheets used throughout the application.
// Should be loaded before the application stylesheets
//

@import "_variable.scss";

//@import "~roboto-fontface/css/roboto/sass/roboto-fontface.scss";
@import "~roboto-fontface/css/roboto/sass/roboto-fontface-regular.scss";
@import "~roboto-fontface/css/roboto/sass/roboto-fontface-thin.scss";
@import "~roboto-fontface/css/roboto/sass/roboto-fontface-medium.scss";
@import "~roboto-fontface/css/roboto-condensed/sass/roboto-condensed-fontface.scss";

//@import '../../../node_modules/font-awesome/scss/font-awesome.scss'; // the path refers to the file at BUILD time

@import "~font-awesome/scss/font-awesome.scss"; //override boostrap variables

//@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/scss/bootstrap.scss";
//@import "~bootstrap/scss/bootstrap-flex.scss";

@import "~@angular/material/core/theming/prebuilt/deeppurple-amber.scss";

@import "~angular2-data-table/release/datatable.css";
@import "~angular2-data-table/release/material.css";



//$background-sidenav: rgb(65, 75, 86);
//$background-header: #476382;

// define by bootstrap with the margin bottom
label {
  // Allow labels to use `margin` for spacing.
  display: inline-block;
  //margin-bottom: .5rem;
  margin-bottom: 0rem;
}

html,
body {
  height: 100%;
  font-family: Roboto-Regular, Helvetica, sans-serif
}

body {
  background-color: $background-body;
}

span.active {
  background-color: gray;
}

button {
  border: none;
  background-color: transparent;
}


.no-margin {
  margin: 0 !important;
}

.main-content-margin {
  margin-left: 175px;
}

.main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.main-content-content {
  margin-top: 5px;
  flex: 1;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
}

.table-actions a {
  padding-right: 5px;
  font-size: 1.3rem;
}

.component-write-tabs {
  flex-direction: column;
  flex: 1;
  display: flex;
  height: 100%
}

.component-write-tabs > ul {
  height: 42px;
}

.component-write-tabs > div {
  flex: 1;
  flex-direction: row;
  overflow: auto;
  height: 100%;
}

tooltip-container {
  z-index: 10000000;
}

.foobar {
  z-index: 10000000;
}

.requirements {
  border-left: 1px solid #e9e9e9;
  padding-bottom: 2px;
}

.requirements > .requirements-id {
  position: absolute;
  left: -80px;
  font-family: tahoma;
  font-size: 12px;
  padding: 4px;
  margin-left: 10px;
  background: #ffa9a9;
  /*border: 1px solid #d48e8e;*/
  border-radius: 2px;
  box-shadow: 0 1px 1px #fff inset, 0 -1px 0px #ccc inset;
}

.requirements-content {
  padding-left: 5px;
}

.simplebox {
  padding: 4px;
  margin: 10px;
  background: #eee;
  /*
  border-radius: 8px;
  border: 0.1rem solid #ececec;
  */
  /*box-shadow: 0 1px 1px #fff inset, 0 -1px 0px #ccc inset;*/
}

.simplebox-title, .simplebox-content {
  /*
  box-shadow: 0 1px 1px #ddd inset;
  border: 1px solid #cccccc;
  border-radius: 5px;
  */
  background: #fff;
}

.simplebox-title {
  margin: 0 0 8px;
  padding: 5px 8px;
}

.simplebox-content {
  padding: 0 8px;
}

.simplebox-content:focus {
  padding: 0 8px;
  /*  border-radius: 8px;
    border: 0.1rem solid #ececec;*/
}

/**
* DIf
*/

/*
 * Styles for the Tag Diff
 */
span.diff-tag-html {
  font-family: "Andale Mono" monospace;
  font-size: 80%;
}

span.diff-tag-removed {
  font-size: 100%;
  text-decoration: line-through;
  background-color: #fdc6c6; /* light red */
}

span.diff-tag-added {
  font-size: 100%;
  background-color: #ccffcc; /* light green */
}

span.diff-tag-conflict {
  font-size: 100%;
  background-color: #f781be; /* light rose */
}

/*
 * Styles for the HTML Diff
 */
span.diff-html-added {
  font-size: 100%;
  background-color: #ccffcc; /* light green */
  cursor: pointer;
}

span.diff-html-removed {
  font-size: 100%;
  text-decoration: line-through;
  background-color: #fdc6c6; /* light red */
  cursor: pointer;
}

span.diff-html-changed {
  //background: url(../images/diffunderline.gif) bottom repeat-x;
  background-color: #c6c6fd; /* light blue */
  cursor: pointer;
}

span.diff-html-conflict {
  /*  background: url(../images/diffunderline.gif) bottom repeat-x; */
  background-color: #f781be; /* light rose */
}

span.diff-html-selected {
  background-color: #FF8800; /* light orange */
  cursor: pointer;
}

span.diff-html-selected img {
  border: 2px solid #FF8800; /* light orange */
}

span.diff-html-added img {
  border: 2px solid #ccffcc;
}

span.diff-html-removed img {
  border: 2px solid #fdc6c6;
}

span.diff-html-changed img {
  border: 2px dotted #000099;

}

div.diff-removed-image, div.diff-added-image, div.diff-conflict-image {
  height: 300px;
  width: 200px;
  position: absolute;
  opacity: 0.55;
  filter: alpha(opacity=55);
  -moz-opacity: 0.55;
}

div.diff-removed-image, div.diff-added-image, div.diff-conflict-image {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 2px;
}

div.diff-removed-image {
  background-color: #fdc6c6;
  //background-image: url(../images/diffmin.gif);
}

div.diff-added-image {
  background-color: #ccffcc;
  //background-image: url(../images/diffplus.gif);
  background-repeat: no-repeat;
}

div.diff-conflict-image {
  background-color: #f781be;
  //background-image: url(../images/diffconflict.gif);
  background-repeat: no-repeat;
}

img.diff-icon {
  background-color: #FF8800;
  //background-image: url(../images/bg_rounded.gif);
  width: 16px;
  height: 16px;
  border: 0px none;
}

table.diff-tooltip-link, table.diff-tooltip-link-changed {
  width: 100%;
  text-align: center;
  Vertical-align: middle;
}

table.diff-tooltip-link-changed {
  border-top: thin dashed #000000;
  margin-top: 3px;
  padding-top: 3px
}

td.diff-tooltip-prev {
  text-align: left;
}

td.diff-tooltip-next {
  text-align: right;
}

table.diffpage-html-firstlast {
  width: 100%;
  Vertical-align: middle;
}

div.diff-topbar {
  border-bottom: 2px solid #FF8800;
  border-left: 1px solid #FF8800;
  border-right: 1px solid #FF8800;
  background-color: #FFF5F5;
}

a.diffpage-html-a, a.diffpage-html-a:hover, a.diffpage-html-a:link, a.diffpage-html-a:visited, a.diffpage-html-a:active {
  text-decoration: none;
  color: #FF8800;
}

.diffpage-html-firstlast a img, .dsydiff-prevnextnav a img {
  vertical-align: middle;
}

ul.changelist {
  padding-left: 15px;
}

.top-bar {
  display: flex;
  padding: 5px;
  background-color: white;
}

.top-bar-tools {
  margin-left: auto;
  color: black;
}

/**
Datatable

*/
.datatable-header {
  background: #b5b5b5;
}

.datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-weight: 600;
}
.panel{
  background-color: white;
}
.panel-heading {
  background-color: #F9F9F9;
  padding: 5px;
  padding-left: 20px;
  border-bottom: 1px solid #ddd;
  color: #58666e !important;
}

.panel-body {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #58666e !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.radio-margin-right input {
  margin-right: 15px;
}

.rounded-button {
  background-color: #2ab7Ca;
  right: 0;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 37px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  width: 37px;
  height: 37px;
  text-align: center;
  line-height: 37px;
}

.pink-background {
  background-color: #EE5362 !important;
}

.rounded-button i {
  color: white;
}

.no-padding{
  padding: 0 !important;
}



// Ckeditor





.cke_editable {
  font-family: Arial;
}

.cke_editable h1 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  margin-top: 1rem;

}

.cke_editable h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.cke_editable h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.cke_editable {
  counter-reset: h1
}

.cke_editable h1 {
  counter-reset: h2
}

.cke_editable h2 {
  counter-reset: h3
}

.cke_editable h3 {
  counter-reset: h4
}

.cke_editable h4 {
  counter-reset: h5
}

.cke_editable h5 {
  counter-reset: h6
}

.cke_editable h1:before {
  counter-increment: h1;
  content: counter(h1) ". "
}

.cke_editable h2:before {
  counter-increment: h2;
  content: counter(h1) "." counter(h2) ". "
}

.cke_editable h3:before {
  counter-increment: h3;
  content: counter(h1) "." counter(h2) "." counter(h3) ". "
}

.cke_editable h4:before {
  counter-increment: h4;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) ". "
}

.cke_editable h5:before {
  counter-increment: h5;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "
}

.cke_editable h6:before {
  counter-increment: h6;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "
}

.cke_editable h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before {
  content: "";
  counter-increment: none
}





.cke_editable .toc ul {
  list-style: none;
  padding-left: 0px;
}


.cke_editable .toc-title {
  font-size: 1.7rem;
}

.cke_editable .title0 {
  font-size: 1.1rem;
  /* font-weight: 600; */
  padding-top: 15px;
}

.cke_editable .title1 {
  margin-left: 20px;
  font-size: 1.1rem;
}

.cke_editable .title2 {
  margin-left: 55px;
  font-size: 1.0rem;
}
