<form name="userForm" style="padding-top: 6px" (ngSubmit)="search()">

  <div>
    <div style="margin-bottom: 4px">
<!--      <div class="btn-group" dropdown>
        <button id="single-button" type="button" class="btn btn-primary btn-sm" dropdownToggle >
          {{targetStatus? targetStatus : 'Select a type'}}<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
          <li><em>None</em></li>
          <li>
            <a class="dropdown-item" role="button" (click)="targetStatus=status.name">Requirement</a>
            <a class="dropdown-item" role="button" (click)="targetStatus=status.name">Component</a>
          </li>
        </ul>
      </div>-->
      <md-input name="componentTitle" placeholder="Search..." [(ngModel)]="searchQuery" name="search"></md-input>

    </div>
  </div>
</form>

<div style="padding-top: 6px">
  <div *ngFor="let component of components" draggable="true" (dragstart)="dragStart($event, component)">
    <div style="border: 1px solid #ececec;border-radius: 3px;padding: 5px 5px;background: white;margin-bottom: 2px;border-left: 4px solid #ffaa66;">
      <h4 style="line-height:0.9rem;font-size: 0.9rem;margin-bottom: 4px">{{component.id}} - {{component.title}}</h4>
      <div style="font-size: 0.9rem">{{component.summary}}</div>
    </div>
  </div>
</div>
