
:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: auto;
  padding-right: 4px;
}

.content {
  width: 100%;
  //border: 1px solid #ececec;
  background: white;
  //margin: 2px 2px 1px 1px;
  padding-left: 4px;
  font-family: Roboto-Regular;
  font-size: 0.9rem;
}

[md-button].tools {
  min-width: 22px;
  min-height: 1px;
  line-height: 30px;
  padding: 0px 4px
}

[md-menu-item].tools {
  min-width: 22px;
  min-height: 1px;
  line-height: 30px !important;
  padding: 0px 4px
}

/deep/ .md-menu-panel {
  min-width: 30px !important;
  max-width: 50px !important;
}

.component-card {
  padding: 6px 2px;
  margin-bottom: 8px;
  border-left: 2px solid red;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  font-family: Roboto-condensed;
}

.foo1 {
  min-width: 1px;

}

.foo2 {
  min-width: 1px;

}

.foo3 {
  min-width: 1px;
}
