<div style="width: 100%">


  <div style="padding-bottom: 4px">
    <md-button-toggle-group multiple>
      <md-button-toggle md-tooltip="Display only the latest version">
        <i class="fa fa-filter" aria-hidden="true"></i>
      </md-button-toggle>
      <md-button-toggle #historyUpdate md-tooltip="Update status">
        <i class="fa fa-history" aria-hidden="true"></i>
      </md-button-toggle>
    </md-button-toggle-group>
  </div>

  <div *ngIf="historyUpdate.checked">
    <div *ngIf="!component.currentWorkflowInstance.currentWorkflowStatus.status.final" style="padding-bottom: 4px">
      <form name="userForm" style="padding-top: 6px" (submit)="changeStatus()">
        <div>
          <span>From <b>{{component.currentWorkflowInstance.currentWorkflowStatus.status.name}}</b> To </span>
          <select class="custom-select" [(ngModel)]="targetStatus" name="targetStatus">
            <option *ngFor="let status of component.currentWorkflowInstance.currentWorkflowStatus.status.transitions" [value]="status">
              {{status}}
            </option>
          </select>
        </div>
        <div>
          <md-textarea style="width: 100%" [(ngModel)]="reason" name="reason" required
                       placeholder="Enter the reason"></md-textarea>
        </div>
        <div style="width: 40px;text-align: center;">
          <button md-raised-button type="submit" [disabled]="!canUpdateWorkflow">Update
          </button>
        </div>
      </form>
    </div>
    <div *ngIf="component.currentWorkflowInstance.currentWorkflowStatus.status.final" style="padding-bottom: 4px">
      <form name="userForm" style="padding-top: 6px" (submit)="newStatus()">
        <div>
          <span>Current <b>{{component.currentWorkflowInstance.currentWorkflowStatus.status.name}}</b> </span>
        </div>
        <div>
          <md-textarea style="width: 100%" [(ngModel)]="reason" name="reason" required
                       placeholder="Enter the reason"></md-textarea>
        </div>
        <div style="width: 40px;text-align: center;">
          <button md-raised-button type="submit" [disabled]="!canUpdateWorkflow">New
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="workflow-history">

    <div *ngFor="let workflowInstance of component.workflowInstances.concat().reverse()"
         style="background:white;border: 1px solid #e2e2e2;border-radius: 3px;">
      <h3 style="font-size: 1.1rem;font-weight: 600;background: #393838;color: white;padding: 6px;">
        Version {{workflowInstance.version}}
        <small>started {{workflowInstance.createdDate| amTimeAgo}}</small>
      </h3>

      <div *ngFor="let status of workflowInstance.workflowStatuses.concat().reverse()" style="padding: 4px;">
        <h4>
          {{status.status.name}} <span>{{status.createdDate | amTimeAgo}} by {{status.createdUser.username}}</span>
        </h4>
        <ul *ngIf="status.changes.length > 0" style="margin-bottom: 0px">
          <li *ngFor="let change of status.changes.reverse()">
            <div>
              <a (click)="diff(change)" role="button" style="font-size: 0.8rem">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{change.date | amTimeAgo}} by
                {{change.user.username}}
              </a>
            </div>
            <div style="color: gray;font-size: 0.9rem"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

