<div>

  <div style="padding-bottom: 4px">
    <button md-raised-button (click)="updateStatus()">Update
      {{componentVersion.workflowInstance.currentWorkflowStatus.status.name}}
    </button>
  </div>

  <div class="workflow-history">

    <div
         style="background:white;border: 1px solid #e2e2e2;border-radius: 3px;">
      <h3 style="font-size: 1.1rem;font-weight: 600;background: #393838;color: white;padding: 6px;">
        Version {{componentVersion.workflowInstance.version}}
        <small>started {{componentVersion.workflowInstance.createdDate| amTimeAgo}}</small>
      </h3>

      <div *ngFor="let status of componentVersion.workflowInstance.workflowStatuses.concat().reverse()" style="padding: 4px;">
        <h4 role="button" (click)="visibleStatuses[status.id] = !visibleStatuses[status.id]">
          {{status.status.name}} {{status.reason}}

          <span>{{status.createdDate | amTimeAgo}} by {{status.createdUser.username}}</span>
        </h4>
        <div>
          <ul *ngIf="status.changes.length > 0" style="margin-bottom: 0px">
            <li *ngFor="let change of status.changes.reverse()">
              <div>
                <a (click)="diff(change)" role="button" style="font-size: 0.8rem">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{change.date | amTimeAgo}} by
                  {{change.user.username}}
                </a>
              </div>
              <div style="color: gray;font-size: 0.9rem"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

